# Files #
#########
*.DS_Store
*.app
*.bak
*.mpq
*.dll
*.dll.new
*.exe
*cache.md5
*.bat
*.lnk
*.old
WTF/Launcher.wtf
WTF/Config.wtf
Patch.html
Battle.net Authenticator Serial.rtf
WoW.mfil
WoW.tfil
Microsoft.VC80.CRT.manifest
.curseclient
.agent.db
Launcher.db
WoW.pfil
macros-cache.txt

# Folders #
###########
Cache
Data
Errors
Logs
Movies
PTR*
Updates
Temp
TempMig
Screenshots


# Characters #
##############
WTF/Account/IMNOTJIMBOJONES/Burning Blade/Xëthra
