# Files #
#########
*.DS_Store
*.app
*.bak
*.mpq
WTF/Launcher.wtf
WTF/Config.wtf
Patch.html
Battle.net Authenticator Serial.rtf
WoW.mfil
WoW.tfil
BackgroundDownloader.exe
Battle.net.dll
Blizzard Updater.exe
Launcher.exe
Microsoft.VC80.CRT.manifest
Repair.exe
Scan.dll
Scan.dll.new
Scan-64.dll.new
Wow.exe
WowError.exe
dbghelp.dll
divxdecoder.dll
msvcr80.dll
.curseclient
.agent.db
Battle.net-64.dll
Launcher.db
MovieProxy.exe
WoW.pfil
World of Warcraft Launcher.exe
Wow-64.exe
WowError-64.exe
WTF/RunOnce.wtf
WTF/RunOnce-Installer.wtf


# Folders #
###########
Cache
Data
Errors
Logs
Movies
PTR*
Updates
Temp
TempMig
Screenshots
