# Files #
#########
*.DS_Store
*.app
*.bak
WTF/Launcher.wtf
Patch.html
Battle.net Authenticator Serial.rtf
WoW.mfil
WoW.tfil
BackgroundDownloader.exe
Battle.net.dll
Blizzard Updater.exe
Launcher.exe
Microsoft.VC80.CRT.manifest
Repair.exe
Scan.dll
Wow.exe
WowError.exe
dbghelp.dll
divxdecoder.dll
msvcr80.dll

# Folders #
###########
Cache
Data
Errors
Logs
Movies
PTR*
Updates
Temp
TempMig
